@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
:root{
    --button-color:#459BF8;
    --service1:#7CBFFD;
    --service2:#4FA9EE;
    --primary-color:#efeaea;
    --primary-color-dark:#F5FBFF;
    --text-dark:#333333;
    --text-light:#767268;
    --extra-light:#f3f4f6;
    --white:#ffffff;
    --footer:#1F1F1F;
    --client_card :white;
    --popular_content:white;
    --book-cont : rgba(255, 255, 255, 0.7);
    --max-width: 1200px;
    
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
     .poppins-regular {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
      
      .poppins-medium {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
      }
      
      .poppins-semibold {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: normal;
      }
      
      .poppins-bold {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
      }
      
      .poppins-extrabold {
        font-family: "Poppins", sans-serif;
        font-weight: 800;
        font-style: normal;
      }
      
}
.header_container{
  padding: 1rem 1rem 5rem 1rem;
}
.header_image_container{
  position: relative;
  min-height: 500px;
  background-image: linear-gradient(to right,rgba(44,56,85,.9),rgba(100,125,187,.1)),
  url("../asset/hospital/banner.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 2rem;
}
.header_content{
  max-width: 600px;
  padding: 5rem 2rem;
}
.header_content h1{
  margin-bottom: 1rem;
  font-size: 3.5rem;
  line-height: 4rem;
  font-weight: 600;
  color: var(--white);
}
.header_content p{
  color: var(--extra-light);
}
.booking_container{
  position: absolute;
  bottom: -5rem;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 6rem);
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 3rem 2rem;
  border-radius: 2rem;
  background-color: var(--book-cont);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}
.booking_container form{
  width: 100%;
  flex: 1;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 1rem;
}
.booking_container .input_group{
  width: 100%;
  position: relative;
}
.booking_container label{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateX(-20%);
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--text-dark);
  pointer-events: none;
  transition: 0.3s; 
}
.booking_container input{
  margin-top: 1rem;
  width: 80%;
  padding: 10px 0;
  font-size: 1rem;
  outline: none;
  border: none;
  background-color: transparent;

  border-bottom: 4px solid var(--primary-color);
  

  color: var(--text-dark);
}
.booking_container input:focus ~ label{
  font-size: .8rem;
  top: 0;
}
.booking_container .form_group p{
  margin-top: 0.5rem;
  font-size: 0.8rem;
  color: var(--text-light);
}
.booking_container .btn{
  padding: 1rem;
  outline: none;
  border: none;
  font-size: 1.5rem;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 100%;
  cursor: pointer;
  transition: 0.3s;
}
.booking_container .btn:hover{
  background-color: var(--primary-color-dark);
}
.section_container  h2{
    margin-top: 2rem;
    text-align: center;
}
.popular_grid{
  margin-top: 4rem;
  margin-bottom: 4rem;
  margin-left: 4rem;
  margin-right: 4rem;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 2rem;
}

.hotel{
  height: 15rem;
  width: 100%;
}
.popular_card{
  overflow: hidden;
  border-radius: rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}
.popular_content{
  background-color: var(--popular_content);
  padding: 1rem;
}
.popular_card_header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 0.5rem;
}
.popular_card_header h4{
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}
.popular_content p{
  color: var(--text-light);
}
*{
  padding: 0;
  margin: 0;
 
}
header{
  display: flex;
  width: 100%;
  background-color: white;
  justify-content: space-around;
  height: 70px;
  box-shadow: 0px 5px rgb(235, 231, 231);
  position: fixed;
  z-index: 1;
 

}
.logo{
  align-self: center;
  margin-left: 50px;

}
.nav-bar{
  display: flex;
  align-self: center;
  justify-content: space-evenly;
  min-width:50rem;
  

}
.icons{
  display:flex;
  justify-content: space-evenly;
  min-width: 300px;
  align-self: center;
}
.nav-items{
  text-decoration: none;
  font-weight: bolder;
  color:var(--text-light);
  max-width: 700px;
  font-size: larger;


}
.icons span:hover{
  color:#459BF8;
}
.nav-bar a:hover{
  color:#459BF8;
}
.logo span{
  color:#459BF8;
}
.search_bar{
  display: flex;
  align-items: center;
  min-width: 20rem;

}
.search_icon{
  box-sizing: content-box;
  height: 20px;
  padding:10px;
  background-color: #f5f5f6;
  color:#282c3f;
  font-weight: 300;
  border-radius: 4px 0 0 4px;;



}
.search_input{
  color:#696e79;
  background-color: #f5f5f6;
  flex-grow: 1;
  height:40px;
  border: 0;
  border-radius: 0 4px 4px 0;
}
.banner-image{
  width:100%;
  height:660px;
  padding-top: 75px;
  position: relative;
}
.banner-text{
  position: absolute;
  top:300px;
  left:150px;
  line-height:1.5;
  display: flex;
  flex-direction: column;
  font-size: 25px;
 
}
@media (width<900px){
    .booking_container form{
      grid-template-columns: repeat(2,1fr);
    }
    .popular_grid{
      grid-template-columns: repeat(2,1fr);
      gap: 1rem;
    }
    .client_grid{
      grid-template-columns: repeat(2,1fr);
      gap: 1rem;
    }
    .footer_container{
      grid-template-columns: repeat(2,1fr);
    }
  }
  @media (width<600px){
    .nav-bar{
      display: none;
    }
    .header_container{
      padding-bottom: 25rem;
    }
    .booking_container{
      flex-direction: column;
      bottom: -25rem;
    }
    .booking_container form{
      grid-template-columns: repeat(1,1fr);
    }
    .popular_grid{
      grid-template-columns: repeat(1,1fr);
    }
    .client_grid{
      grid-template-columns: repeat(1,1fr);
    }
    .footer_container{
      gap: 2rem;
    }
  }
  .footer{
    background-color: var(--extra-light);
  }
  .footer_container{
     display: grid;
     grid-template-columns: 2fr repeat(3,1fr);
     gap: 5rem;
  }
  .footer_col h3{
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-dark);
  }
  .footer_col h4{
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
  }
  .footer_col p{
    margin-bottom: 1rem;
    color: var(--text-light);
    cursor: pointer;
    transition: .3s;
  }
  .footer_col p:hover{
    color: var(--text-dark);
  }
  .footer_bar{
    position: relative;
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    font-size: .9rem;
    font-weight: 500;
    color: var(--text-light);
    text-align: right;
    overflow: hidden;
  }
  .footer_bar::before{
    position: absolute;
    content: "";
    top: 50%;
    right: 28rem;
    transform: translateY(-50%);
    width: 20rem;
    height: 2px;
    background-color: var(--text-light);
  }